# ==========================================================
# Visual Studio
# ==========================================================

.vs/
*.user
*.suo
*.rsuser

# ==========================================================
# Build Output
# ==========================================================

bin/
obj/

# ==========================================================
# Temporary / Backup Files
# ==========================================================

*.tmp
*.bak
*.backup

# ==========================================================
# Test Results
# ==========================================================

TestResults/

# ==========================================================
# ASP.NET Core Configuration / Secrets
# ==========================================================

appsettings.json
appsettings.Development.json


# ==========================================================
# Logs
# ==========================================================

*.log

# ==========================================================
# Operating System Files
# ==========================================================

.DS_Store
Thumbs.db